@mixin transform-translate-y($value) {
  -webkit-transform: translate3d(0, $value, 0);
  -moz-transform: translate3d(0, $value, 0);
  -o-transform: translate3d(0, $value, 0);
  -ms-transform: translate3d(0, $value, 0);
  transform: translate3d(0, $value, 0);
}

@mixin transition($time, $type) {
  -webkit-transition: all $time $type;
  -moz-transition: all $time $type;
  -o-transition: all $time $type;
  -ms-transition: all $time $type;
  transition: all $time $type;
}

@mixin set-wizard-color($color) {

  .moving-tab {
    background-color: $color;
    @include shadow-big-color($color);
  }

  .picture {
    &:hover {
      border-color: $color;
    }
  }

  .choice {
    &:hover,
    &.active {
      .icon {
        border-color: $color;
        color: $color;
      }
    }
  }

  .form-group {
    .form-control {
      background-image: linear-gradient($color, $color), linear-gradient($mdb-input-underline-color, $mdb-input-underline-color);
    }
  }

  .checkbox input[type=checkbox]:checked + .checkbox-material {
    .check {
      background-color: $color;
    }
  }

  .radio input[type=radio]:checked ~ .check {
    background-color: $color;
  }

  .radio input[type=radio]:checked ~ .circle {
    border-color: $color;
  }
}
