@font-face {
    font-family: 'iconfont';
    src: url('../../fonts/iconfont38dc.eot?9q8fxx');
    src: url('../../fonts/iconfont38dc.eot?9q8fxx#iefix') format('embedded-opentype'),
    url('../../fonts/iconfont38dc.ttf?9q8fxx') format('truetype'),
    url('../../fonts/iconfont38dc.woff?9q8fxx') format('woff'),
    url('../../fonts/iconfont38dc.svg?9q8fxx#iconfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    font-family: 'iconfont';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-album:before {
    content: "\e6aa";
}

.icon-arc:before {
    content: "\e6ab";
}

.icon-back-2:before {
    content: "\e6ac";
}

.icon-bandaid:before {
    content: "\e6ad";
}

.icon-car:before {
    content: "\e6ae";
}

.icon-diamond:before {
    content: "\e6af";
}

.icon-door-lock:before {
    content: "\e6b0";
}

.icon-eyedropper:before {
    content: "\e6b1";
}

.icon-female:before {
    content: "\e6b2";
}

.icon-gym:before {
    content: "\e6b3";
}

.icon-hammer:before {
    content: "\e6b4";
}

.icon-headphones:before {
    content: "\e6b5";
}

.icon-helm:before {
    content: "\e6b6";
}

.icon-hourglass:before {
    content: "\e6b7";
}

.icon-leaf:before {
    content: "\e6b8";
}

.icon-magic-wand:before {
    content: "\e6b9";
}

.icon-male:before {
    content: "\e6ba";
}

.icon-map-2:before {
    content: "\e6bb";
}

.icon-next-2:before {
    content: "\e6bc";
}

.icon-paint-bucket:before {
    content: "\e6bd";
}

.icon-pendrive:before {
    content: "\e6be";
}

.icon-photo:before {
    content: "\e6bf";
}

.icon-piggy:before {
    content: "\e6c0";
}

.icon-plugin:before {
    content: "\e6c1";
}

.icon-refresh-2:before {
    content: "\e6c2";
}

.icon-rocket:before {
    content: "\e6c3";
}

.icon-settings:before {
    content: "\e6c4";
}

.icon-shield:before {
    content: "\e6c5";
}

.icon-smile:before {
    content: "\e6c6";
}

.icon-usb:before {
    content: "\e6c7";
}

.icon-vector:before {
    content: "\e6c8";
}

.icon-wine:before {
    content: "\e6c9";
}

.icon-cloud-upload:before {
    content: "\e68a";
}

.icon-cash:before {
    content: "\e68c";
}

.icon-close:before {
    content: "\e680";
}

.icon-bluetooth:before {
    content: "\e68d";
}

.icon-cloud-download:before {
    content: "\e68b";
}

.icon-way:before {
    content: "\e68e";
}

.icon-close-circle:before {
    content: "\e681";
}

.icon-id:before {
    content: "\e68f";
}

.icon-angle-up:before {
    content: "\e682";
}

.icon-wristwatch:before {
    content: "\e690";
}

.icon-angle-up-circle:before {
    content: "\e683";
}

.icon-world:before {
    content: "\e691";
}

.icon-angle-right:before {
    content: "\e684";
}

.icon-volume:before {
    content: "\e692";
}

.icon-angle-right-circle:before {
    content: "\e685";
}

.icon-users:before {
    content: "\e693";
}

.icon-angle-left:before {
    content: "\e686";
}

.icon-user-female:before {
    content: "\e694";
}

.icon-angle-left-circle:before {
    content: "\e687";
}

.icon-up-arrow:before {
    content: "\e695";
}

.icon-angle-down:before {
    content: "\e688";
}

.icon-switch:before {
    content: "\e696";
}

.icon-angle-down-circle:before {
    content: "\e689";
}

.icon-scissors:before {
    content: "\e697";
}

.icon-wallet:before {
    content: "\e600";
}

.icon-safe:before {
    content: "\e698";
}

.icon-volume2:before {
    content: "\e601";
}

.icon-volume1:before {
    content: "\e602";
}

.icon-voicemail:before {
    content: "\e603";
}

.icon-video:before {
    content: "\e604";
}

.icon-user:before {
    content: "\e605";
}

.icon-upload:before {
    content: "\e606";
}

.icon-unlock:before {
    content: "\e607";
}

.icon-umbrella:before {
    content: "\e608";
}

.icon-trash:before {
    content: "\e609";
}

.icon-tools:before {
    content: "\e60a";
}

.icon-timer:before {
    content: "\e60b";
}

.icon-ticket:before {
    content: "\e60c";
}

.icon-target:before {
    content: "\e60d";
}

.icon-sun:before {
    content: "\e60e";
}

.icon-study:before {
    content: "\e60f";
}

.icon-stopwatch:before {
    content: "\e610";
}

.icon-star:before {
    content: "\e611";
}

.icon-speaker:before {
    content: "\e612";
}

.icon-signal:before {
    content: "\e613";
}

.icon-shuffle:before {
    content: "\e614";
}

.icon-shopbag:before {
    content: "\e615";
}

.icon-share:before {
    content: "\e616";
}

.icon-server:before {
    content: "\e617";
}

.icon-search:before {
    content: "\e618";
}

.icon-film:before {
    content: "\e6a5";
}

.icon-science:before {
    content: "\e619";
}

.icon-disk:before {
    content: "\e6a6";
}

.icon-ribbon:before {
    content: "\e61a";
}

.icon-repeat:before {
    content: "\e61b";
}

.icon-refresh:before {
    content: "\e61c";
}

.icon-add-user:before {
    content: "\e6a9";
}

.icon-refresh-cloud:before {
    content: "\e61d";
}

.icon-paperclip:before {
    content: "\e69c";
}

.icon-radio:before {
    content: "\e61e";
}

.icon-note2:before {
    content: "\e69d";
}

.icon-print:before {
    content: "\e61f";
}

.icon-network:before {
    content: "\e69e";
}

.icon-prev:before {
    content: "\e620";
}

.icon-mute:before {
    content: "\e69f";
}

.icon-power:before {
    content: "\e621";
}

.icon-medal:before {
    content: "\e6a0";
}

.icon-portfolio:before {
    content: "\e622";
}

.icon-like2:before {
    content: "\e6a1";
}

.icon-plus:before {
    content: "\e623";
}

.icon-left-arrow:before {
    content: "\e6a2";
}

.icon-play:before {
    content: "\e624";
}

.icon-key:before {
    content: "\e6a3";
}

.icon-plane:before {
    content: "\e625";
}

.icon-joy:before {
    content: "\e6a4";
}

.icon-photo-gallery:before {
    content: "\e626";
}

.icon-pin:before {
    content: "\e69b";
}

.icon-phone:before {
    content: "\e627";
}

.icon-plug:before {
    content: "\e69a";
}

.icon-pen:before {
    content: "\e628";
}

.icon-right-arrow:before {
    content: "\e699";
}

.icon-paper-plane:before {
    content: "\e629";
}

.icon-delete-user:before {
    content: "\e6a7";
}

.icon-paint:before {
    content: "\e62a";
}

.icon-bottom-arrow:before {
    content: "\e6a8";
}

.icon-notebook:before {
    content: "\e62b";
}

.icon-note:before {
    content: "\e62c";
}

.icon-next:before {
    content: "\e62d";
}

.icon-news-paper:before {
    content: "\e62e";
}

.icon-musiclist:before {
    content: "\e62f";
}

.icon-music:before {
    content: "\e630";
}

.icon-mouse:before {
    content: "\e631";
}

.icon-more:before {
    content: "\e632";
}

.icon-moon:before {
    content: "\e633";
}

.icon-monitor:before {
    content: "\e634";
}

.icon-micro:before {
    content: "\e635";
}

.icon-menu:before {
    content: "\e636";
}

.icon-map:before {
    content: "\e637";
}

.icon-map-marker:before {
    content: "\e638";
}

.icon-mail:before {
    content: "\e639";
}

.icon-mail-open:before {
    content: "\e63a";
}

.icon-mail-open-file:before {
    content: "\e63b";
}

.icon-magnet:before {
    content: "\e63c";
}

.icon-loop:before {
    content: "\e63d";
}

.icon-look:before {
    content: "\e63e";
}

.icon-lock:before {
    content: "\e63f";
}

.icon-lintern:before {
    content: "\e640";
}

.icon-link:before {
    content: "\e641";
}

.icon-like:before {
    content: "\e642";
}

.icon-light:before {
    content: "\e643";
}

.icon-less:before {
    content: "\e644";
}

.icon-keypad:before {
    content: "\e645";
}

.icon-junk:before {
    content: "\e646";
}

.icon-info:before {
    content: "\e647";
}

.icon-home:before {
    content: "\e648";
}

.icon-help2:before {
    content: "\e649";
}

.icon-help1:before {
    content: "\e64a";
}

.icon-graph3:before {
    content: "\e64b";
}

.icon-graph2:before {
    content: "\e64c";
}

.icon-graph1:before {
    content: "\e64d";
}

.icon-graph:before {
    content: "\e64e";
}

.icon-global:before {
    content: "\e64f";
}

.icon-gleam:before {
    content: "\e650";
}

.icon-glasses:before {
    content: "\e651";
}

.icon-gift:before {
    content: "\e652";
}

.icon-folder:before {
    content: "\e653";
}

.icon-flag:before {
    content: "\e654";
}

.icon-filter:before {
    content: "\e655";
}

.icon-file:before {
    content: "\e656";
}

.icon-expand1:before {
    content: "\e657";
}

.icon-exapnd2:before {
    content: "\e658";
}

.icon-edit:before {
    content: "\e659";
}

.icon-drop:before {
    content: "\e65a";
}

.icon-drawer:before {
    content: "\e65b";
}

.icon-download:before {
    content: "\e65c";
}

.icon-display2:before {
    content: "\e65d";
}

.icon-display1:before {
    content: "\e65e";
}

.icon-diskette:before {
    content: "\e65f";
}

.icon-date:before {
    content: "\e660";
}

.icon-cup:before {
    content: "\e661";
}

.icon-culture:before {
    content: "\e662";
}

.icon-crop:before {
    content: "\e663";
}

.icon-credit:before {
    content: "\e664";
}

.icon-copy-file:before {
    content: "\e665";
}

.icon-config:before {
    content: "\e666";
}

.icon-compass:before {
    content: "\e667";
}

.icon-comment:before {
    content: "\e668";
}

.icon-coffee:before {
    content: "\e669";
}

.icon-cloud:before {
    content: "\e66a";
}

.icon-clock:before {
    content: "\e66b";
}

.icon-check:before {
    content: "\e66c";
}

.icon-chat:before {
    content: "\e66d";
}

.icon-cart:before {
    content: "\e66e";
}

.icon-camera:before {
    content: "\e66f";
}

.icon-call:before {
    content: "\e670";
}

.icon-calculator:before {
    content: "\e671";
}

.icon-browser:before {
    content: "\e672";
}

.icon-box2:before {
    content: "\e673";
}

.icon-box1:before {
    content: "\e674";
}

.icon-bookmarks:before {
    content: "\e675";
}

.icon-bicycle:before {
    content: "\e676";
}

.icon-bell:before {
    content: "\e677";
}

.icon-battery:before {
    content: "\e678";
}

.icon-ball:before {
    content: "\e679";
}

.icon-back:before {
    content: "\e67a";
}

.icon-attention:before {
    content: "\e67b";
}

.icon-anchor:before {
    content: "\e67c";
}

.icon-albums:before {
    content: "\e67d";
}

.icon-alarm:before {
    content: "\e67e";
}

.icon-airplay:before {
    content: "\e67f";
}

.icon-mobile:before {
    content: "\e31b";
}

.icon-laptop2:before {
    content: "\e31c";
}

.icon-desktop:before {
    content: "\e31d";
}

.icon-tablet2:before {
    content: "\e31e";
}

.icon-phone3:before {
    content: "\e31f";
}

.icon-document:before {
    content: "\e320";
}

.icon-documents:before {
    content: "\e321";
}

.icon-search3:before {
    content: "\e322";
}

.icon-clipboard:before {
    content: "\e323";
}

.icon-newspaper:before {
    content: "\e324";
}

.icon-notebook2:before {
    content: "\e325";
}

.icon-book-open:before {
    content: "\e326";
}

.icon-browser2:before {
    content: "\e327";
}

.icon-calendar:before {
    content: "\e328";
}

.icon-presentation:before {
    content: "\e329";
}

.icon-picture:before {
    content: "\e32a";
}

.icon-pictures:before {
    content: "\e32b";
}

.icon-video2:before {
    content: "\e32c";
}

.icon-camera3:before {
    content: "\e32d";
}

.icon-printer:before {
    content: "\e32e";
}

.icon-toolbox:before {
    content: "\e32f";
}

.icon-briefcase:before {
    content: "\e330";
}

.icon-wallet2:before {
    content: "\e331";
}

.icon-gift2:before {
    content: "\e332";
}

.icon-bargraph:before {
    content: "\e333";
}

.icon-grid:before {
    content: "\e334";
}

.icon-expand:before {
    content: "\e335";
}

.icon-focus:before {
    content: "\e336";
}

.icon-edit3:before {
    content: "\e337";
}

.icon-adjustments:before {
    content: "\e338";
}

.icon-ribbon2:before {
    content: "\e339";
}

.icon-hourglass2:before {
    content: "\e33a";
}

.icon-lock3:before {
    content: "\e33b";
}

.icon-megaphone:before {
    content: "\e33c";
}

.icon-shield2:before {
    content: "\e33d";
}

.icon-trophy:before {
    content: "\e33e";
}

.icon-flag3:before {
    content: "\e33f";
}

.icon-map3:before {
    content: "\e340";
}

.icon-puzzle:before {
    content: "\e341";
}

.icon-basket:before {
    content: "\e342";
}

.icon-envelope:before {
    content: "\e343";
}

.icon-streetsign:before {
    content: "\e344";
}

.icon-telescope:before {
    content: "\e345";
}

.icon-gears:before {
    content: "\e346";
}

.icon-key2:before {
    content: "\e347";
}

.icon-paperclip2:before {
    content: "\e348";
}

.icon-attachment2:before {
    content: "\e349";
}

.icon-pricetags:before {
    content: "\e34a";
}

.icon-lightbulb:before {
    content: "\e34b";
}

.icon-layers2:before {
    content: "\e34c";
}

.icon-pencil:before {
    content: "\e34d";
}

.icon-tools2:before {
    content: "\e34e";
}

.icon-tools-2:before {
    content: "\e34f";
}

.icon-scissors2:before {
    content: "\e350";
}

.icon-paintbrush:before {
    content: "\e351";
}

.icon-magnifying-glass:before {
    content: "\e352";
}

.icon-circle-compass:before {
    content: "\e353";
}

.icon-linegraph:before {
    content: "\e354";
}

.icon-mic2:before {
    content: "\e355";
}

.icon-strategy:before {
    content: "\e356";
}

.icon-beaker:before {
    content: "\e357";
}

.icon-caution:before {
    content: "\e358";
}

.icon-recycle:before {
    content: "\e359";
}

.icon-anchor2:before {
    content: "\e35a";
}

.icon-profile-male:before {
    content: "\e35b";
}

.icon-profile-female:before {
    content: "\e35c";
}

.icon-bike:before {
    content: "\e35d";
}

.icon-wine2:before {
    content: "\e35e";
}

.icon-hotairballoon:before {
    content: "\e35f";
}

.icon-globe:before {
    content: "\e360";
}

.icon-genius:before {
    content: "\e361";
}

.icon-map-pin:before {
    content: "\e362";
}

.icon-dial:before {
    content: "\e363";
}

.icon-chat3:before {
    content: "\e364";
}

.icon-heart:before {
    content: "\e365";
}

.icon-cloud3:before {
    content: "\e366";
}

.icon-upload2:before {
    content: "\e367";
}

.icon-download2:before {
    content: "\e368";
}

.icon-target2:before {
    content: "\e369";
}

.icon-hazardous:before {
    content: "\e36a";
}

.icon-piechart:before {
    content: "\e36b";
}

.icon-speedometer:before {
    content: "\e36c";
}

.icon-global2:before {
    content: "\e36d";
}

.icon-compass2:before {
    content: "\e36e";
}

.icon-lifesaver:before {
    content: "\e36f";
}

.icon-clock2:before {
    content: "\e370";
}

.icon-aperture:before {
    content: "\e371";
}

.icon-quote:before {
    content: "\e372";
}

.icon-scope:before {
    content: "\e373";
}

.icon-alarmclock:before {
    content: "\e374";
}

.icon-refresh3:before {
    content: "\e375";
}

.icon-happy:before {
    content: "\e376";
}

.icon-sad:before {
    content: "\e377";
}

.icon-facebook:before {
    content: "\e378";
}

.icon-twitter:before {
    content: "\e379";
}

.icon-googleplus:before {
    content: "\e37a";
}

.icon-rss:before {
    content: "\e37b";
}

.icon-tumblr:before {
    content: "\e37c";
}

.icon-linkedin:before {
    content: "\e37d";
}

.icon-dribbble:before {
    content: "\e37e";
}

