.footer {
  position: relative;
  bottom: 20px;
  right: 0px;
  width: 100%;
  color: #FFFFFF;
  z-index: 4;
  text-align: right;
  margin-top: 60px;
  text-shadow: 0 0px 1px black;

  a {
    color: #FFFFFF;
  }

  .heart {
    color: #FF3B30;
  }
}
