/* 
    Created on : 17-mrt-2014, 14:58:29
    Author     : g.v.lankveld
*/

html {
    font-family: Helvetica, Arial, sans-serif
}

h1 {
    color: white;
    text-shadow: 0 0 0.2em #000;
    -moz-text-shadow: 0 0 0.2em #000;
    -webkit-text-shadow: 0 0 0.2em #000;
}

.centre-container {

    width: 500px;
    overflow: hidden;
    background-position: top;
}

.cycle-bg-image {
    background-position: top;
}

