/*
 * jQuery Growl
 * Copyright 2015 Kevin Sylvestre
 * 1.3.2
 */

@import ../bourbon/bourbon

@mixin opacity($amount)
  opacity: $amount
  filter: alpha(opacity=$amount * 100)

$namespace: "growl"

$black: #000
$white: #FFF

$duration: 0.4s

#growls
  z-index: 50000
  position: fixed

  &.default
    top: 10px
    right: 10px
  &.tl
    top: 10px
    left: 10px
  &.tr
    top: 10px
    right: 10px
  &.bl
    bottom: 10px
    left: 10px
  &.br
    bottom: 10px
    right: 10px
  &.tc
    top: 10px
    right: 10px
    left: 10px
  &.bc
    bottom: 10px
    right: 10px
    left: 10px
  &.tc, &.bc
    .#{$namespace}
      margin:
        left: auto
        right: auto

.#{$namespace}
  +opacity(0.8)
  position: relative
  border-radius: 4px
  +transition(all $duration ease-in-out)

  &.#{$namespace}-incoming
    +opacity(0.0)

  &.#{$namespace}-outgoing
    +opacity(0.0)

  &.#{$namespace}-small
    width: 200px
    padding: 5px
    margin: 5px
  &.#{$namespace}-medium
    width: 250px
    padding: 10px
    margin: 10px
  &.#{$namespace}-large
    width: 300px
    padding: 15px
    margin: 15px

  &.#{$namespace}-default
    color: #FFF
    background: #7f8c8d
  &.#{$namespace}-error
    color: #FFF
    background: #C0392B
  &.#{$namespace}-notice
    color: #FFF
    background: #2ECC71
  &.#{$namespace}-warning
    color: #FFF
    background: #F39C12

  .#{$namespace}-close
    cursor: pointer
    float: right
    font-size: 14px
    line-height: 18px
    font-weight: normal
    font-family: helvetica, verdana, sans-serif

  .#{$namespace}-title
    font-size: 18px
    line-height: 24px

  .#{$namespace}-message
    font-size: 14px
    line-height: 18px
